* {
  box-sizing: border-box;
}

.react-icons {
  vertical-align: middle;
}

body {
  background-color: #e5e4dd;
  color: #282c34;
}

button {
  color: #666;
  background-color: #fff;
  cursor: pointer;
  margin: 0.5rem 1rem;
  padding: 0.5rem;
  border: none;
  border-radius: 8px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.18);
}

button:hover,
button:active {
  background-color: #f9f9f9;
}

button:active {
  box-shadow: none;
}

button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
  background-color: #cfcfcf;
}

.App {
  text-align: center;
  min-height: 100vh;
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  text-align: center;
}
